*.tga filter=lfs diff=lfs merge=lfs -text
riverslots_v2.0.1_modio-eefm/[Shared][[:space:]]Riverslots[[:space:]]NW[[:space:]](Taludas)/data/dlc12/sessions/islands/pool/colony01/colony01_c_01/colony01_c_01.a7m filter=lfs diff=lfs merge=lfs -text
